*, ::before, ::after{
    padding: 0;
    margin: 0;
    /*设置所有的都是以边框开始计算宽度  百分比*/
    -webkit-box-sizing: border-box;/*兼容*/
    box-sizing: border-box;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
    color: black;
}
a:link a:visited {
    color: black;
}
ul {
    list-style: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.oh {
    overflow: hidden;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.div1 {
    width: 100%;
    max-width: 640px;/*设计图的原因  不然它放大*/
    min-width: 300px;/*为了更好的布局*/
    margin: 0 auto;
    text-align: center;
}
h1 {
    width: 100%;
    margin: 10px auto;
    background: url("../images/logo.png") no-repeat left 20px center;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    text-align: right;
    height: 60px;
    padding-top: 34px;
    padding-left: 60px;
    padding-right: 20px;
    font-size: 26px;
}